/* Customize container */
@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
  
/* Side notes for calling out things
-------------------------------------------------- */

 
/* Themes for different contexts */
.bg-red {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bg-yellow {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bg-lightblue {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

#footer {
  height: 60px;
  margin-top: 10px;
}