html
{ }

*
{ margin: 0;
  padding: 0;}

body
{ font-family: "微软雅黑" , "trebuchet ms", arial, sans-serif;
  font-size: .9em;
  color: #222;
  line-height: 1.4em;
 background: #F7F7F7; 
  width: 900px;
  margin: 10px auto 0px auto;}
 
form {
	background-color: efe;
	border: 1px solid #ccc;
	padding: 10px;
}
  
   .margin10 {
	margin-bottom: 12px;
 }
  
h1, h2, h3, h4, h5, h6 
{ color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;}

h1, h2, h3
{ font: normal 150% "微软雅黑" ;
  margin: 0 0 15px 0;
  padding: 0 0 5px 0;
  color: #A30101;}

h2
{ font-size: 140%;
  padding: 9px 0 5px 0;
  color: #009FBC;}

h3
{ font-size: 120%;
  padding: 5px 0 0 0;}
  
  p
{ line-height: 1.5em;
  padding-bottom: 17px;}
  
  ul
{ margin: 2px 0 12px 0;}

ul li
{ list-style-type: none;
  background-color: #efe;
  margin: 0 0 0 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}
  
  input {
  font-size: 100%;
  padding: 5px 0 0 0;
  }
  
select #link {
	display: block;
	clear: both;

}